site_name: Smallrye Stork
repo_url: https://github.com/smallrye/smallrye-stork
edit_uri: edit/main/docs/
docs_dir: docs


nav:
  - Overview: 'index.md'
  - Concepts: 'concepts.md'
  - Programmatic API: 'programmatic-api.md'
  - Javadoc: 'https://javadoc.io/doc/io.smallrye.stork/smallrye-stork-api/latest/index.html'
  - Using Stork with Quarkus: './quarkus.md'
  - Service Discovery:
    - Consul: 'service-discovery/consul.md'
    - DNS: 'service-discovery/dns.md'
    - Kubernetes: 'service-discovery/kubernetes.md'
    - Eureka: 'service-discovery/eureka.md'
    - Composite: 'service-discovery/composite.md'
    - Static List: 'service-discovery/static-list.md'
    - Custom Service Discovery: 'service-discovery/custom-service-discovery.md'
  - Load-Balancing:
    - Round Robin: 'load-balancer/round-robin.md'
    - Random: 'load-balancer/random.md'
    - Least Requests: 'load-balancer/least-requests.md'
    - Response Time: 'load-balancer/response-time.md'
    - Power Of Two Choices: 'load-balancer/power-of-two-choices.md'
    - Sticky: 'load-balancer/sticky.md'
    - Custom Load Balancer: 'load-balancer/custom-load-balancer.md'

theme:
  name: material
  custom_dir: mkdocs-customizations/overrides
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: grey
      toggle:
        icon: material/lightbulb-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: orange
      toggle:
        icon: material/lightbulb-on
        name: Switch to light mode
  font:
    text: Roboto
    code: Ubuntu Mono
  icon:
    repo: fontawesome/brands/github
  logo: images/stork-white.png
  favicon: images/stork-white.png
  features:
    - navigation.sections
    - content.tabs.link
    - content.code.annotate
    - navigation.instant
    - navigation.indexes
    - navigation.tracking
    - navigation.tabs.sticky

extra_css:
  - extra.css

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

markdown_extensions:
  - toc:
      permalink: '#'
  - admonition
  - smarty
  - attr_list
  - md_in_html
  - meta
  - tables
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences:
      custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.snippets
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.smartsymbols
  - pymdownx.betterem
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

plugins:
  - search
  - build_plantuml:
      render: "server"
      server: "https://www.plantuml.com/plantuml"
      output_format: "svg"
      diagram_root: "docs"
      output_folder: "target"
      input_folder: "diagrams"
      input_extensions: "puml"
      theme_enabled: true
      theme_folder: "include/themes"
      theme_light: "light.puml"
      theme_dark: "dark.puml"
  - macros


extra:
  snippet_dir: snippets
  javadoc_artifact: io.smallrye.reactive/smallrye-stork
  manifest: manifest.webmanifest
  version:
    current: !ENV [ STORK_VERSION, "SNAPSHOT" ]
    provider: mike

